if label

  - value = name && model ? model[name] : ''

  label #{label}
    input(type='text', placeholder='#{placeholder}', name='#{name}', value='#{value}')

else
    
  input(type='text', placeholder='#{placeholder}', name='#{name}')
