div(class="#{viewClasses.indicator}")
  div(class="#{viewClasses.inkContainer}")
  div(class="#{viewClasses.fillBounds}")
    div(class="#{viewClasses.fillContainer}")
div(class="#{contentsContainerClass}")
