extends ../_blueprint/master.jade

block content
  
  - var lvls = ['alpha', 'beta', 'gamma', 'delta', 'epsilon', 'zeta']
  - var shortHeading = "Grumpy wizards"
  - var longHeading = "Grumpy wizards make toxic brew for the evil Queen and Jack."
  - var lead = "I will here give a brief sketch of the progress of opinion on the Origin of Species. Until recently the great majority of naturalists believed that species were immutable productions, and had been separately created."
  - var paragraph = "Lamarck was the first man whose conclusions on the subject excited much attention. This justly celebrated naturalist first published his views in 1801; he much enlarged them in 1809 in his \"Philosophie Zoologique\", and subsequently, 1815, in the Introduction to his \"Hist. Nat. des Animaux sans Vertebres\". In these works he up holds the doctrine that all species, including man, are descended from other species. He first did the eminent service of arousing attention to the probability of all change in the organic, as well as in the inorganic world, being the result of law, and not of miraculous interposition."
  - var shortParagraph = "Lamarck was the first man whose conclusions on the subject excited much attention. This justly celebrated naturalist first published his views in 1801; he much enlarged them in 1809 in his \"Philosophie Zoologique\", and subsequently, 1815, in the Introduction to his \"Hist. Nat. des Animaux sans Vertebres\"."
  - var paragraphOrnamental = "One morning, when Gregor Samsa woke from troubled dreams, <b>he found himself transformed in his bed into a horrible vermin.</b> He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. <em>The bedding was hardly able to cover it and seemed ready to slide off any moment.</em> His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked."
  - var caption = "This is a sample caption"
  - var list = "Sample list item."
  - var control = "Make reservation"
  - var pre = "algorithm quicksort(A, lo, hi) is\n  if lo < hi then\n    p := partition(A, lo, hi)\n    quicksort(A, lo, p - 1)\n    quicksort(A, p + 1, hi)"
  
  .heading-sample: h1.ui-collapse-spacing Heading 1
  .heading-sample: h2.ui-collapse-spacing Heading 2
  .heading-sample: h3.ui-collapse-spacing Heading 3
  .heading-sample: h4.ui-collapse-spacing Heading 4
  .heading-sample: h5.ui-collapse-spacing Heading 5 
  .heading-sample: h6.ui-collapse-spacing Heading 6 
  
  h1 Heading 1
  p!= shortParagraph
  p!= paragraphOrnamental
  
  h2 Heading 2
  p!= shortParagraph
  
  h3 Heading 3
  p!= shortParagraph
  
  h4 Heading 4
  p!= shortParagraph
  
  h5 Heading 5
  p!= shortParagraph
  
  h6 Heading 6
  p!= shortParagraph
