button
  span(class="#{prefix}label")
    if iconPosition == 'right' || iconPosition == 'bottom'
      | #{label}
    if svgIcon
      span(class='#{prefix}icon #{prefix}svg-icon #{prefix}icon-#{iconPosition}')!= svgIcon 
    if iconPosition == 'left' || iconPosition == 'top'
      | #{label}
  div(class="#{prefix}indicator")
  div(class="#{prefix}ink-container")
  div(class="#{prefix}fill-container")
  
